<div class="container">
  <h2>Edit User</h2>
  <form (ngSubmit)="saveUser()" class="mb-3">
    <div class="mb-3">
      <label class="form-label">First Name:</label>
      <input [(ngModel)]="editedUser.firstName" name="firstName" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Last Name:</label>
      <input [(ngModel)]="editedUser.lastName" name="lastName" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Age:</label>
      <input [(ngModel)]="editedUser.age" name="age" type="number" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Position:</label>
      <input [(ngModel)]="editedUser.position" name="position" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

